.about-content {
  display: flex;
  flex-direction: column;
}
.about-content p {
  max-width: 30em;
}
.sub-content-text {
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 60em;
}
.ceo {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 30em;
}
.team-content {
  display: flex;
}
.team-text {
  text-align: center;
  max-width: 30em;
}
.team-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.team-img {
  width: 100%;
}
